Source: ros-testing-tracetools-launch
Section: misc
Priority: optional
Maintainer: Christophe Bedard <bedard.christophe@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest, ros-testing-ament-copyright, ros-testing-ament-flake8, ros-testing-ament-mypy, ros-testing-ament-pep257, ros-testing-ament-xmllint, ros-testing-launch, ros-testing-launch-ros, ros-testing-tracetools-trace, ros-testing-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-testing-tracetools-launch
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-testing-launch, ros-testing-launch-ros, ros-testing-tracetools-trace, ros-testing-ros-workspace
Description: Launch integration for tracing.
